body{
    font-family: "Verdana", Sans-serif;
    text-align:center;
    color:#002E5F;
    background-color:#E6F4F1;
  }
  
  header{
    font-family: "Copperplate",Fantasy;
    padding: 30px;
    font-size:30px;
    letter-spacing:2px;
    color:#E99B27;
    background-color: #002E5F;
  }
  
  nav{
    padding: 1px;
    color:#002E5F;
    background-color:#9CADBC;
  }
  
  a{
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  h1{
    color: #E99B27;
  }
  
  p{
    font-size:20px;
    color:#316860;
  }
  
  img{
    border-radius:5px;
  }
  
  .p_img2{
    border-style: dotted;
    border-color: #E99B27;
    max-width: 30%;
  }
  
  .p_img3{
    border-style: dotted;
    border-color:#E99B27;
    max-width: 30%;
  }
  